{% extends "base.html" %}

{% block content %}
  <section class="py-7 bg-light">
    <div class="container">
      <div class="row justify-content-center">
        <div class="text-lg-end">
          <button class="btn btn-secondary">
            <a href="{% url 'agency:newspaper-update' pk=newspaper.id %}" class="text-white">
              Edit
            </a>
          </button>
          <button class="btn btn-secondary">
            <a href="{% url 'agency:newspaper-delete' pk=newspaper.id %}" class="text-white">
            Delete
            </a>
          </button>
        </div>
        <div class="col-lg-9">
          <h1 class="text-center">
            {{ newspaper.title }}
          </h1>
          <ul class="text-center">
            {% for publisher in newspaper.publishers.all %}
              <p class="d-inline-block">{{ publisher.first_name }} {{ publisher.last_name }}</p>
            {% endfor %}
          </ul>
          <p class="lead text-lg-start">{{ newspaper.content }}</p>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
