{% extends "base.html" %}

{% block title %} Topics {% endblock %}

{% block content %}

  <header class="bg-gradient-dark">
    <div class="page-header min-vh-45" style="background-image: url('{{ ASSETS_ROOT }}/img/bg.jpg');">
      <span class="mask bg-gradient-dark opacity-6"></span>
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-8 text-center mx-auto my-auto">
            <h1 class="text-white">Choose any topic</h1>
            <p class="lead mb-4 text-white opacity-8">We’re constantly trying to express ourselves and actualize our ideas</p>
          </div>
        </div>
      </div>
    </div>
  </header>
    <section class="py-7">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-4">
            {% if topic_list %}
              <table class="table">
                <tr>
                  <th>ID</th>
                  <th>Name</th>
                </tr>
                {% for topic in topic_list %}
                  <tr>
                    <td>
                      {{ topic.id }}
                    </td>
                    <td>
                      {{ topic.name }}
                    </td>
                  </tr>
                {% endfor %}
              </table>
            {% else %}
              <p>There were no topics discussed yet.</p>
            {% endif %}
          </div>
        </div>
      </div>
    </section>
      {% block pagination %}
        {% include "includes/pagination.html" %}
      {% endblock %}
{% endblock %}
