<div class="container position-sticky z-index-sticky top-0">
  <div class="row">
    <div class="col-12">
      <nav class="navbar navbar-expand-lg  blur border-radius-xl mt-4 top-0 z-index-3 shadow position-absolute my-3 py-2 start-0 end-0 mx-4">
        <div class="container-fluid px-0">
          <ul class="navbar-nav ms-auto">
            <a class="nav-link ps-2 d-flex cursor-pointer align-items-center" href="{% url 'agency:index' %}">Home</a>
            <a class="nav-link ps-2 d-flex cursor-pointer align-items-center" href="{% url 'agency:topic-list' %}">Topics</a>
            <a class="nav-link ps-2 d-flex cursor-pointer align-items-center" href="{% url 'agency:newspaper-list' %}">Articles</a>
            <a class="nav-link ps-2 d-flex cursor-pointer align-items-center" href="{% url 'agency:publisher-list' %}">Publishers</a>
            {% if user.is_authenticated %}
              <li class="nav-item my-auto ms-3 ms-lg-0">
                <a href="{% url 'logout'%}" target="_blank" class="btn btn-sm  bg-gradient-grey  mb-0 me-1 mt-2 mt-md-0">Logout</a>
              </li>
            {% else %}
              <li class="nav-item my-auto ms-3 ms-lg-0">
                <a href="{% url 'login'%}" target="_blank" class="btn btn-sm  bg-gradient-info  mb-0 me-1 mt-2 mt-md-0">Login</a>
              </li>
            {% endif %}
          </ul>
        </div>
      </nav>
    </div>
  </div>
</div>
